config.env
error.log
__pycache__/*
Hyper.db
*.session
*.session-journal
TG_BOT_TOKEN.session
TG_BOT_TOKEN.session-journal
Hyper/__pycache__/*
Hyper/modules/__pycache__/*
Hyper/modules/sql_helper/__pycache__/*
.git
.github
.config
.progress
.vscode/*
bin/*
venv
*.pyc
